@media screen and (max-width: 992px) {
    
}
@media screen and (max-width: 768px) {
    .hero-section{
        flex-direction: column-reverse;
    }

    .hero-image img {
        width: 100%;
    }

    .hero-content{
        padding: 0 3rem;
    }

    .plants-content {
        padding: 0 2.5rem;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 1rem;
    }
}

@media screen and (max-width: 576px) {
    .nav-menu {
        gap: 0rem;
    }

    .nav-menu li a {
        display: none;
    }

    .hero-content{
        padding: 0 2rem;
    }

    
}

