@media screen and (max-width: 992px) {
    
    .hero-content{
        padding: 0 2rem;
    }

}

@media screen and (max-width: 576px) {
    .nav-menu {
        gap: 0rem;
    }

    .nav-menu li a {
        display: none;
    }

    .hero-section{
        flex-direction: column-reverse;
    }

    .hero-image img {
        width: 100%;
    }
    
}

