@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', 'Inter', serif, sans-serif;
    list-style: none;
    text-decoration: none;
    /* border: 1px solid black; */
}

body {
    background-color: rgba(245, 248, 255, 1);
}

.para {
    font-family: 'Inter', serif, sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-size: clamp(14px, 3vw, 22px);
}

.heading {
    font-family: 'Noto Serif', serif, sans-serif;
    color: black;
    font-weight: 700;
    font-size: clamp(24px, 4vw, 50px);
}

.mt-16{
    margin-top: 16px;
}

.gray{
    color: rgba(137, 135, 161, 1);
}
.light{
    color: rgba(0, 0, 0, 0.5);
}
.black{
    color: black;
}
.orange {
    color: rgba(233, 90, 8, 1);
}
.black-2{
    color: #111111;
}

.container {
    max-width: 1140px;
    margin: auto;
}

/* Styling for the navbar section */

.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-menu {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 2rem;
    
}

.nav-menu li a {
    font-family: 'Inter', serif, sans-serif;
    color: rgba(137, 135, 161, 1);
    font-weight: 400;
}

.nav-menu li a:hover {
    color: black;
    font-weight: 700;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: black;
}

.cart:hover {
    background-color: rgba(137, 135, 161, 0.086);
    padding: 1rem;
}

/* Styling for the Hero Section */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: clamp(24px, 8vw, 120px);
}
.header-heading {
    font-family: 'Noto Serif', sans-serif;
    font-size: clamp(24px, 6vw, 65px);
    font-weight: 700;
}

.hero-description {
    text-align: left;
}

/* Styling for the Plants Section */

.plants-section{
    margin-top: clamp(65px, 6vw, 120px);
}

.plants-content {
    text-align: center;
}

/* styles for the Card Section */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 30px 20px;
    margin-top: clamp(28px, 3vw, 50px);
}
.card {
    width: 100%;
    transition: scale 250ms ease-in-out;
}

.card:hover {
    scale: 102%;
}

.card img{
    width: 100%;
}

.card-info{
     margin: 30px 0;
}

.card-info h4, p {
    font-family: 'Inter', sans-serif;
    font-size: clamp(16px, 4vw, 22px);
    text-align: center;
    color: rgba(17, 17, 17, 1);
}

.card-info h4 {
    font-weight: 500;
}

.card-info p {
    font-weight: 700;
}

.add-btn {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px clamp(10px, 2vw, 30px);
    background-color: rgba(233, 90, 8, 1);
    width: 100%;
    text-align: center;
    display: inline-block;
}

/* Plants Lover Section */

.plants-lover-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: clamp(40px, 4vw, 200px);                
}

.plants-lover-info {
    padding: 38px 0 18px 4rem;
}

.bullet-points li {
    list-style: initial;
    margin: 20px 0;
    font-size: 22px;
    text-align: justify;
}

.bullet-points {
    margin-left: 2rem;
}

.plants-lover-section-img {
    position: relative;
}

.badge {
    height: 286px;
    width: 286px;
    position: absolute;
    right: -100px;
    top: -114px;
    animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Stylimg for the Latest Deals Section */

.latest-deal-section {
    padding: 6rem 0;
}

.gallery {
     display: grid;
     grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 4rem 2rem;
}

.gallery div:nth-child(1) {
     grid-column: 1;
    grid-row: 1;
}

.gallery div:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.gallery div:nth-child(3) {
     grid-column: 2;
    grid-row: 1 / span 2;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}